@charset "utf-8";

/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.header {
    background-position: top;
    background-repeat: repeat-x;
    height: 79px;
}

.tab {
    width: 100px;
    text-align: center;
    border: solid #cfcfcf;
    padding: 0px;
    padding-right: 5px;
    background-image: url(../images/subgridimg.gif);
    color: #515151;
}

.tabImage {
    background-image: url(../images/footer.gif);
}

.container {
    width: 1366px;
}

.tabsubhdr {
    font-size: 12px;
    color: #656565;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    padding-left: 5px;
}

.ArrowImg {
    padding-left: 10px;
}

.tabinnrtble {
    width: 100%;
    position: relative;
}

fieldset {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    background-color: #fafafa;
    box-shadow: 8px 8px 8px #cfcfcf;
    font-weight: bold;
}

.fieldsetSub {
    box-shadow: none;
}


/* class for image border "0"*/

.imgBorder {
    border-color: #fafafa;
}

.ContactInter {
    height: 45px;
}


/*.blankRow{
		height:45px;*/


}
legend {
    font-weight: bold;
}
.noborder {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    alignment-adjust: central;
}
.tabsubrow {
    font-size: 12px;
    color: #656565;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    text-indent: 8px;
    position: relative;
}
.logo {
    height: 40px;
    width: 1200px;
}
.toprightnav {
    float: right;
    height: 40px;
}
.topmenubackground {
    background-image: url(../images/gray-top-background.gif);
    background-position: top;
    background-repeat: repeat-x;
    height: 49px;
}
.username {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding-top: 12px;
    width: 240px;
    text-decoration: none;
}
.help {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding-top: 12px;
    width: 100px;
    text-decoration: none;
}
.task {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding-top: 12px;
    width: 80px;
    text-decoration: none;
}
.helptxt {
    text-decoration: none;
    color: #000000;
}
.helptxt:hover {
    text-decoration: none;
    color: #CC6600;
}
.navigation {
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style-type: none;
    display: inline;
    padding-left: 0px;
    padding-right: 70px;
    line-height: 40px;
}
.li:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fab600;
    font-weight: bold;
    text-decoration: none;
}

/*li>a:hover{text-decoration: none;color: #cc6600;
font-weight: bold; }*/
.nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.nav:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fab600;
    font-weight: bold;
    text-decoration: none;
}
.whiteSpace {
    height: 4px;
}
.whitespacedvdrgrid {
    height: 0px;
    padding-top: 0px;
}
.leftsecstyle {
    border: 1px solid #cfcfcf;
    width: 200px;
    padding-left: 12px;
    padding-right: 12px;
    height: 434px;
    vertical-align: top;
    padding-top: 10px;
}
.dashboardsec {
    border: 1px solid #cfcfcf;
    width: 750px;
    height: 434px;
    vertical-align: top;
}
.vertcaldvdr {
    width: 6px;
}
.dashboardbg {
    background-image: url(../images/dashboard-bg.gif);
    background-repeat: repeat-x;
    background-position: top;
    height: 66px;
    width: 750px;
}
.searchbox {
    border: 1px solid #CCC;
    height: 17px;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #999999;
}
.welcometxt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5a5959;
    padding-left: 10px;
    vertical-align: top;
    line-height: 50px;
}
.dashboardcolumn {
    background-image: url(../images/dashboard-column.gif);
    width: 720px;
    height: 164px;
    background-repeat: no-repeat;
    background-position: top;
    vertical-align: top;
}
.mastertxt {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #535353;
    padding-left: 10px;
}
.masterslide1 {
    width: 238px;
}
.mastertable {
    padding-left: 17px;
    padding-top: 20px;
}
.masterslide2 {
    padding-top: 20px;
    padding-left: 1px;
    width: 235px;
}
.dashboardtxt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}
.moretxt {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #003a69;
    font-size: 12px;
    line-height: 19px;
    padding-top: 10px;
}
.moretxt:hover {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #CC6600;
    font-size: 12px;
    line-height: 19px;
    padding-top: 10px;
}
.footer {
    background-image: url(../images/footer.gif);
    background-position: top;
    background-repeat: repeat-x;
    height: 40px;
}
.footertxt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    text-align: center;
}
.searchButton {
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 2px;
    vertical-align: middle;
}
.next {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0066FF;
    text-decoration: none;
}
.deleteicon {
    padding-right: 8px;
}
.gray {
    background-color: #f3f3f3;
}
.lineheight1 {
    line-height: 28px;
}
.grayline {
    background-color: #cfcfcf;
}
.graylineadvance {
    border-bottom: 1px solid #cfcfcf;
    line-height: 12px;
    padding-top: 0px;
}
.bodyClass {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.createButton {
    padding-top: 5px;
    padding-right: 10px;
}
.AddButton {
    padding-top: 5px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #656565;
    text-decoration: none;
    font-weight: bold;
}

/* this class is for sub heading in the details page*/

/* created by anitha*/

/*created on 22 may 2013*/
.subHeading {
    text-decoration: none;
    color: #5a5959;
    font-weight: bold;
    text-align: left;
    padding-bottom: 4px;
}
.Space {
    padding-top: 15px;
}
.SpaceBank {
    padding-top: 20px;
}
.add_contact {
    padding-left: 95%;
}
.mainTable {
    width: 100%;
    position: relative;
    padding-left: 10px;
    padding-right: 12px;
}
.Maingrid {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C0C0C0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #C0C0C0;
    color: #656565;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    padding: 4px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    /*background-color:#fafafa;*/
}
.mainTableInter {
    width: 50%;
    position: relative;
    padding-left: 10px;
    padding-right: 12px;
}
.mainTableProduct {
    width: 100%;
    padding-left: 5px;
    position: relative;
}
.headerText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #5a5959;
    padding-left: 2px;
    vertical-align: middle;
    line-height: 45px;
}
.headerTextSmall {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #5a5959;
    font-weight: bold;
    font-size: 14px;
}
.subinnerTable {
    position: relative;
    border-top: 1px solid #cfcfcf;
    width: 100%;
}
.innerTable {
    width: 100%;
    position: relative;
    border-top: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    background-color: #fafafa;
    box-shadow: 8px 8px 8px #cfcfcf;
}
.innerTableNew {
    position: relative;
    width: 100%;
    border-top: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    background-color: #fafafa;
    box-shadow: 8px 8px 8px #cfcfcf;
}

/*class for tariff rate details page*/
.InsurableTariff {
    padding-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #656565;
    text-decoration: none;
    font-weight: bold;
}

/*class for tariff rate details page*/
.rateText {
    padding-left: 35px;
}
.newUI {
    background-color: #fafafa;
    width: 100%;
}

/*.innerTableadd
 {
 	width:100%; 
	position: relative; 
		
	border-top:1px solid #cfcfcf;
	
	border-left:1px solid  #cfcfcf; 
	border-right:1px solid  #cfcfcf; 
 
	

 }
  .innerTableaddbelow
 {
 	width:100%; 
	position: relative; 
		
	border-top:1px solid #cfcfcf;
	
	border-left:1px solid  #cfcfcf; 
	border-right:1px solid  #cfcfcf; 
 
	 box-shadow: 5px 5px 5px  #cfcfcf;

 }
.innerTableadd
 {
 	width:90%; 
	position: relative; 
		border-bottom:1px solid  #cfcfcf;
	border-top:1px solid #cfcfcf;
	border-right:1px solid #cfcfcf;
	border-left:1px solid  #cfcfcf; 
 
	 box-shadow: 5px 5px 5px  #cfcfcf;


 }
  .innerTableadd1
 {
 	width:100%; 
	position: relative; 
		border-bottom:1px solid  #cfcfcf;
	border-top:1px solid #cfcfcf;
	border-right:1px solid #cfcfcf;
	border-left:1px solid  #cfcfcf; 
 
	 box-shadow: 5px 5px 5px  #cfcfcf;


 }*/
.Image {
    padding-left: 90%;
}
.subHeaderText {
    font-size: 14px;
    color: #000000 !important;
    font-weight: bold;
    background-color: #aab7b9;
    line-height: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    right: 6px;
    padding: 10px;
    margin: 5px 10px 3px 10px;
}
.labelText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #656565;
    text-align: left;
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 10%;
}

/*class is for tariff and commission details page*/
.labelTextNew {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #656565;
    text-align: left;
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-width: 1px;
}
.Vertical_line {
    background-color: #cfcfcf;
    line-height: 20px;
}
.labelTextSmall {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #656565;
    text-align: left;
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 5%;
}
.fieldText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #656565;
    text-align: left;
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 20%;
}

/*class is for tariff and commission details page*/
.fieldTextNew {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #656565;
    text-align: left;
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #C0C0C0;
}
.fieldText_New {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #656565;
    text-align: left;
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.fieldTextProduct {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #656565;
    text-align: left;
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 200px;
}
.fieldTextMedium {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #656565;
    text-align: left;
    text-decoration: none;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 30%;
}

/*
Class : buttonRow_Inner
Created By : M.Neethi
On : 26-Jun-2008
Purpose : Used for buttons which are placed inside the table. Ex: Search, SelectAll etc
*/
.buttonRow_Inner {
    text-align: center;
    padding-right: 2px;
    padding-left: 20px;
    vertical-align: middle;
}

/*
Class : gridDataOdd
Created By : Rani
On : 26-Jun-2008
Purpose : Used for displaying the odd rows in the search results grid. This aligns the values exactly to the table data.
*/
.gridDataOdd {
    height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #656565;
    padding-left: 8px;
    line-height: 28px;
    text-indent: 8px;
}

/*
Class : gridDataOdd
Created By : Rani
On : 26-Jun-2008
Purpose : Used for displaying the odd rows in the search results grid. This aligns the values exactly to the table data.
*/
.gridDataEven {
    height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #656565;
    padding-left: 8px;
    background-color: #f7f7f7;
    line-height: 28px;
    text-indent: 8px;
}
.gridHeaderTariff {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    height: 25px;
    text-indent: 8px;
    border-right-width: 1px;
}
.gridHeader {
    font-size: 12px;
    color: #656565;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/footer.gif);
    height: 25px;
    text-indent: 8px;
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.subgridHeader {
    background-image: url(../images/subgridimg.gif);
    font-size: 12px;
    color: #656565;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    text-indent: 8px;
    position: relative;
}
.hyperLink {
    color: #656565;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.spanSpace {
    padding-left: 4px;
}
.gridNavigationBar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0066FF;
    text-decoration: none;
    color: #000000;
    text-align: right;
    height: 25px;
    vertical-align: middle;
    padding-right: 10px;
    color: #0066FF;
    text-decoration: none;
    /*  background-image: url(../images/footer.gif);
	  	border-bottom:1px solid  #cfcfcf;
	border-top:1px solid #cfcfcf;
	border-right:1px solid #cfcfcf;
	border-left:1px solid  #cfcfcf; */
}
.textStyle_30 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    width: 30px;
    height: 15px;
}
.textStyleDisabled_80 {
    background-color: rgb(232, 232, 232);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
    height: 15px;
}
.textStyle_80 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
    height: 15px;
}

/* 
Created By: M.Neethi
Created on: 27JUN08
Description: Text Style can be used for fields with 280px width example: concatenated firstname & lastname fields.
Use this style for fields with database length of nvarchar(150) to nvarchar(200)

*/
.textStyle_350 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    width: 350px;
    height: 15px;
}

/* 
Created By: M.Neethi
Created on: 27JUN08
Description: Text Style can be used for fields with 280px width example: concatenated firstname & lastname fields.
Use this style for fields with database length of nvarchar(150) to nvarchar(200)

*/
.textStyle_130 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    width: 130px;
    height: 15px;
}
.textStyle_200 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    height: 15px;
}
.dropdown_Fixed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    width: 90px;
    height: 20px;
}
.dropdown_Free {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    height: 20px;
}

/* 
Created By: M.Neethi
Created on: 27JUN08
Description: TextArea Style can be used for fields with 230px  width example: concatenated firstname & lastname fields.
Use this style for fields with database length of nvarchar(50) to nvarchar(100)
Created the class based on old class name from 'namestyle' to 'textStyle_180'
*/
.textAreaStyle_Small {
    width: 180px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
Created By: M.Neethi
Created on: 27JUN08
Description: TextArea Style can be used for fields with 230px  width example: concatenated firstname & lastname fields.
Use this style for fields with database length of nvarchar(50) to nvarchar(100)
Created the class based on old class name from 'namestyle' to 'textStyle_180'
*/
.textAreaStyle_Medium {
    width: 100%;
    height: 48px;
    vertical-align: middle;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
Created By: M.Neethi
Created on: 7JUL08
Description: TextArea Style can be used for fields with 700px  width 
Use this style for fields with database length of nvarchar(255) to ntext(16)

*/
.textAreaStyle_Large {
    width: 99%;
    height: 48px;
    vertical-align: middle;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
.detailstxthead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #656565;
    padding-left: 6px;
    padding-bottom: 3px;
}
.commissiontable {
    position: relative;
    border-top: 1px solid #cfcfcf;
}
.info,
.success,
.warning,
.error,
.validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url("../images/info.png");
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url("../images/success.png");
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url("../images/error.png");
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url("../images/warning.png");
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url("../images/validation.png");
}
.whitearrow {}
.subHeaderText {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #999880;
    line-height: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 20px;
}